sql_driver = ${EMAIL_DB_DRIVER}

pgsql ${EMAIL_DB_HOST} {
  parameters {
    user = ${EMAIL_DB_USER}
    password = ${EMAIL_DB_PASSWORD}
    dbname = ${EMAIL_DB_NAME}
  }
}

passdb sql {
  passdb_default_password_scheme = MD5-CRYPT
  query = \
    SELECT username AS user, password \
      local_part, \
    FROM mailbox \
    WHERE '%{user}' IN (username, local_part) AND active = '1';
}


userdb sql {
  query = \
    SELECT \
      local_part, \
      '/var/vmail/%{user | domain}/%{user}' AS home, \
      150 AS uid, \
      8 AS gid, \
      concat('dirsize:storage=', quota) AS quota_rule \
    FROM mailbox \
    WHERE '%{user}' IN (username, local_part) AND active = '1';
}



